* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  font-family: 'KoHo';
}

:root {
  --color-primary: #9B72E8;
  --color-primary-hover: #7E5ACB;
  --color-primary-light: #B39DEE;
  --color-primary-bg: #ffffff;
  
  --color-error: #EF4444;
  --color-success: #22C55E;
  
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 12px rgba(155, 114, 232, 0.1);
  --shadow-lg: 0 8px 24px rgba(155, 114, 232, 0.15);
  --shadow-xl: 0 8px 32px rgba(153, 114, 232, 0.08);
  
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 18px;
  
}

body {
  background-image: 
      linear-gradient(to right, #f7d9ff 1px, transparent 1px),
      linear-gradient(to bottom, #f7d9ff 1px, transparent 1px);
  line-height: 1.5;
  min-height: 100vh;
  background-size: 25px 25px;

}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}


.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}


.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}