.input-component{
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--color-primary-light);
    border-radius: var(--radius-sm);
}

.input-component:focus {
    outline: var(--color-primary-light);
    border: var(--color-primary-light);
}

.select-group label {
    margin-bottom: 8px;
}