.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    background: var(--color-primary-bg);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-top: 1px solid var(--color-primary-light);
    text-align: center;
    z-index: 1000;
}

.footer-title {
    font-size: 1rem;
    font-weight: 590;
}

.footer-caption {
    font-size: 0.9rem;
}

.footer-copyright {
    font-size: 0.8rem;
}
